.container {
  position: absolute;
  left: calc(50% - 11.5px);
  top: -132px;
  width: 23px;
  z-index: 100;
}
.large {
  display: none;
}

.small .textContainer {
  transform: translate(13px, 160px);
}

.large .textContainer {
  transform: translate(13px, 455px);
}

.text {
  font-family: var(--font-family--body);
  fill: var(--color--jmb-blue);
  font-weight: 600;
  font-size: 14px;
  transform: rotate(-90deg);
}

@media screen and (min-width: 1060px) {
  .container {
    top: -11.5px;
  }
  .small {
    display: none;
  }
  .large {
    display: block;
  }
}
