.container {
  position: absolute;
  left: calc(50% - 11.5px);
  top: -132px;
  width: 23px;
}

.textContainer {
  transform: translate(13px, 160px);
}

.text {
  font-family: var(--font-family--body);
  fill: var(--color--jmb-blue);
  font-weight: 600;
  font-size: 14px;
  transform: rotate(-90deg);
}
