.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  margin-left: 20px;
}

.logo {
  display: flex;
  align-items: center;
}
.logo svg {
  width: 17px;
  height: 17px;
}
.logo circle {
  fill: var(--color--jmb-red);
}
.logo .title {
  position: relative;
  top: 1px;
  margin: 0;
  margin-left: 18px;
  font-size: 21px;
  font-weight: 700;
}

.menu {
  height: 100%;
  width: 72px;
  background-color: var(--color--jmb-blue);
  border-bottom-left-radius: 15px;
}
