.inner {
  max-width: 1060px;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
}

.clients {
  background-color: var(--color--bg-tan);
  border-radius: 30px 30px 0 0;
  padding-top: 80px;
  padding-bottom: 65px;
  padding-left: var(--content-padding);
  padding-right: var(--content-padding);
}

.clients h2 {
  margin-top: 0;
}

.clients ul {
  margin: 0;
  padding: 0;
}

.clients ul li {
  list-style: none;
  position: relative;
}

.clients ul li:not(:last-of-type) {
  margin-bottom: 1em;
}

.clientButton {
  background: none;
  border: none;
  font-family: var(--font-family--body);
  font-size: 24px;
  color: var(--color--text-main);
  text-align: left;
}

.clientButton span {
  border-bottom: 1px solid transparent;
  padding-bottom: 4px;
}

.clientButton.active span {
  border-bottom: 1px solid var(--color--jmb-red);
}

.imageContainer {
  position: relative;
  width: 100%;
}

.imageContainer > div {
  border-radius: 0 0 30px 30px;
}

@media screen and (max-width: 680px) {
  .imageContainer {
    height: 450px;
  }
}

@media screen and (min-width: 680px) {
  .inner {
    flex-direction: row;
  }
  .clients,
  .imageContainer {
    flex-basis: 50%;
  }
  .clients {
    border-radius: 30px 0 0 30px;
  }
  .imageContainer > div {
    border-radius: 0 30px 30px 0;
  }
}

@media screen and (min-width: 1060px) {
  .root {
    position: relative;
    margin-bottom: 100px;
  }
  .root::after {
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100% + 50px);
    top: 50px;
    background-color: var(--color--bg-red);
    z-index: -1;
  }
  .clients li {
    font-size: 1.5em;
  }
}
