.root {
  margin-bottom: 80px;
}

.introContent {
  margin-top: -10px;
  max-width: 400px;
}

.headshotContainer {
  display: flex;
  justify-content: flex-end;
}

.headshotContainer > div {
  width: 164px;
  height: 164px;
}

.headshot {
  border-radius: 50%;
}

.headline {
  font-size: 26px;
  font-family: var(--font-family--heading);
  font-weight: 600;
  color: var(--color--text-main);
  margin-top: 0;
  margin-bottom: 19px;
}

.summary {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 21px;
}

@media screen and (max-width: 450px) {
  .summaryTop {
    display: block;
  }
}

.hook {
  font-family: var(--font-family--heading);
  font-size: 23px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 43px;
}

.contactLink {
  display: block;
  text-align: center;
  width: 180px;
  padding: 16px;
  border: 1px solid var(--color--jmb-red);
  border-radius: 10px;
  background-color: var(--color--background-body);
  font-family: var(--font-family--body);
  font-size: 15px;
  font-weight: 700;
  color: var(--color--text-main);
  box-shadow: 7px 7px 0 0 var(--color--bg-tan);
}

@media screen and (min-width: 550px) {
  .root {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 50px;
  }
  .headshotContainer {
    flex: 1;
    justify-content: center;
  }
  .introContent {
    margin-top: 0;
  }
}

@media screen and (min-width: 960px) {
  .headshotContainer > div {
    width: 262px;
    height: 262px;
  }
  .introContent {
    max-width: 600px;
  }
  .summary {
    font-size: 1.125em;
  }
  .headline,
  .hook {
    font-size: 2.1em;
  }
}
