.root {
  margin-bottom: 80px;
}

.introContent {
  margin-top: -10px;
  max-width: 600px;
}

.headshotContainer {
  display: flex;
  justify-content: flex-end;
}

.headshotContainer > div {
  width: 164px;
  height: 164px;
}

.headshot {
  border-radius: 50%;
}

.headline {
  font-size: 26px;
  font-family: var(--font-family--heading);
  font-weight: 600;
  color: var(--color--text-main);
  margin-top: 0;
  margin-bottom: 19px;
}

.summary {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 21px;
}

.hook {
  font-family: var(--font-family--heading);
  font-size: 23px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 43px;
}
