.root {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  position: relative;
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.embla__dotMenu {
  display: flex;
  justify-content: center;
}

.embla__dot {
  border: 1px solid var(--color--jmb-red);
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  width: 12px;
  height: 12px;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 10px;
}

.embla__dotSelected {
  background-color: var(--color--jmb-red);
}

.embla__button {
  display: none;
}

@media screen and (min-width: 768px) {
  .embla__button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    margin: 0;
    padding: 2px 9px;
    background-color: transparent;
    cursor: pointer;
  }
  .embla__button:disabled {
    cursor: default;
    opacity: 0.5;
  }
  .embla__buttonPrev {
    left: 0;
  }
  .embla__buttonNext {
    right: 0;
  }
}
